In [4]:
import pandas as pd
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [23]:
import pandas as pd
loan = pd.read_excel('/Users/wwwzhang/Documents/FIN3210/Week2 Assignment/FIN3210 Week 2 Renrendai loans.xlsx',sheet_name='Data Borrower')
p2p = pd.read_excel('/Users/wwwzhang/Documents/FIN3210/Week2 Assignment/FIN3210  Week 2 p2p lending platforms.xlsx',sheet_name='Platform Data')
df = pd.concat([loan,p2p])
df.to_csv('/Users/wwwzhang/Documents/FIN3210/Week2 Assignment/cleaned_data.csv')

In [16]:
df.head()

,loanId,STATUS,BIDS,DEFAULT,AMOUNT,INTEREST,MONTHS,CREDIT,HOUSE,CAR,...,RegCapital,Background,Capitaldeposit,Obtaininvest,Joinasso,Autobid,Transright,Riskdeposit,Thirdguarantee,duration
0,2.0,CLOSED,9.0,0.0,3000.0,5.0,6.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,11.0,CLOSED,8.0,0.0,3000.0,18.0,3.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,16.0,CLOSED,8.0,0.0,3000.0,12.0,12.0,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,19.0,CLOSED,11.0,0.0,3000.0,8.8,12.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,20.0,CLOSED,15.0,0.0,5000.0,15.0,12.0,7.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [31]:
p2p['OnlineTime_YMD'] = pd.to_datetime(p2p['OnlineTime_YMD'],format='%Y%m%d')
p2p['Bankrupt_WDZJ'] = pd.to_datetime(p2p['Bankrupt_WDZJ'], format='%Y%m%d')
p2p['duration'] =  p2p['Bankrupt_WDZJ']- p2p['OnlineTime_YMD'] 
p2p['duration_days'] = p2p['duration'].dt.days.astype(float)
p2p.to_csv('/Users/wwwzhang/Documents/FIN3210/Week2 Assignment/duration_data.csv')
p2p

,fullname,OnlineTime_YMD,Bankrupt_WDZJ,Province,City,Collapse,Benign,Fraud,RegCapital,Background,Capitaldeposit,Obtaininvest,Joinasso,Autobid,Transright,Riskdeposit,Thirdguarantee,duration,duration_days
0,123便利贷,2014-05-19,2017-04-13,上海,上海,1,0.0,0.0,500.0,民营系,0,0.0,1.0,0,0,0.0,0.0,1060 days,1060.0
1,17聚财,2015-12-31,2017-02-01,上海,上海,1,0.0,0.0,500.0,民营系,0,0.0,0.0,0,0,0.0,0.0,398 days,398.0
2,360易贷,2015-05-04,2016-12-01,辽宁,沈阳,1,0.0,0.0,500.0,民营系,0,0.0,0.0,1,1,0.0,0.0,577 days,577.0
3,365储蓄家,2018-03-10,2018-06-15,浙江,杭州,1,0.0,0.0,500.0,民营系,0,0.0,0.0,0,0,0.0,0.0,97 days,97.0
4,51丰收宝,2018-03-20,2018-07-24,广东,深圳,1,0.0,1.0,5.0,民营系,0,0.0,0.0,0,0,0.0,0.0,126 days,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,鑫汇投资,2015-06-09,2016-08-17,山东,滨州,1,0.0,0.0,100.0,民营系,0,0.0,0.0,0,0,0.0,0.0,435 days,435.0
996,鑫脉财富,2015-05-10,NaT,山东,滨州,0,NaN,NaN,100.0,民营系,0,0.0,0.0,1,0,0.0,0.0,NaT,NaN
997,鑫茂创投,2015-06-26,2015-10-19,山东,济南,1,0.0,1.0,500.0,民营系,0,0.0,0.0,1,0,0.0,0.0,115 days,115.0
998,鑫润投资,2014-11-01,2016-08-17,山东,烟台,1,0.0,0.0,100.0,民营系,0,0.0,0.0,0,0,0.0,0.0,655 days,655.0
999,鑫鑫贷（苏）,2014-02-01,2015-04-16,江苏,苏州,1,0.0,0.0,50.0,民营系,0,0.0,0.0,0,0,0.0,0.0,439 days,439.0